.sixteen.columns
  h1(class="remove-bottom", style="margin-top: 40px") Tracker
  h5 Version 0.1
#info
#map.sixteen.columns
.one-third.column
  h3 Who Are You? 
  #login_area
    include partials/login
.one-third.column
  h3 Who Else is Here?
  p Other persons mucking about...
  ul#clients.square
.one-third.column
  h3 Suggestion Box	
  p Have a suggestion? Well, you should do something with it.


